<%- include ('partials/_header') %>
    <section class="section section--billboard">
        <%if(data){%>
            <%for(let i = 0; i < data.length; i++){%>
                <article class="article__billboard">
                    <div class="billboardcontainer">
                        <img class="billboardcontainer__img" src="<%= data[i].imagen%>" alt="movie" />
                    </div>
                    <article class="article__billboard article__billboard--description">
                        <h3 class="article__title--billboard">
                            <%= data[i].nombre%>
                        </h3>
                        <p class="article__text--billboard">
                            <%= data[i].descripcion%>
                        </p>
                    </article>
                </article>
                <%}%>
                    <%}%>
    </section>
    <%- include ('partials/_footer') %>